body {
  width: 1hv;
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;

  padding: 0;
}

hr {
  width: 50%;
  height: 2px;
  background-color: #afc749;
}

h1 {
  font-size: 36pt;
  text-align: center;
}

h2 {
  font-size: 24pt;
}

p {
  font-size: 16pt;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 1rem 2rem;
}

.menu {
  display: flex;
  column-gap: 2rem;
}

.menu > a {
  text-decoration: none;
  font-size: 12pt;
  color: #000;
}

.menu > a:visited {
  color: #000;
}

.menu > a:hover {
  text-decoration: underline;
}

content {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
  align-items: center;
}

.content-img {
  width: 100%;
  height: 90vh;
  background-image: url("./img/family.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.content > img {
  width: 100%;
}

.capsarium {
  align-items: center;
  padding: 0 3rem;
  text-align: center;
}

.quem-somos {
  width: 90%;
  height: 80vh;
  background-image: url("./img/arvore.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}

.quem-somos > * {
  width: 40vh;
}

.grupo {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  text-align: center;
}

.historia {
  padding: 0 10rem;
  display: flex;
  flex-direction: row;
  background-color: #cdd3ae;
  align-items: center;
}

.historia-foto > img {
  width: 100%;
}

.historia-texto {
  padding: 2rem;
}

.cards {
  margin: 0 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  text-align: center;
}

.cards-item {
  padding: 0 1rem;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20rem;
}

.projeto {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
}

.projeto-top {
  display: grid;
  grid-template-columns: 20% 40%;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.projeto-top > img {
  width: 100%;
}

.projeto-top-texto {
  background-color: #afc749;
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  color: #fff;
}

.projeto-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* width: 90vh; */
  column-gap: 1rem;
  margin: 3rem 5rem;
}

.projeto-bottom-item {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proj-inovacao {
  background-image: url("./img/inovacao.png");
}
.proj-sust {
  background-image: url("./img/sustentabilidade.png");
}
.proj-tec {
  background-image: url("./img/tecnologia.png");
}

.proj-item-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 15rem;
}

.compromisso {
  display: grid;
  grid-template-columns: 50% 30%;
  background-color: #91a13a;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  /* width: 100%; */
  padding: 1rem;
}
.compromisso > img {
  width: 100%;
}
.comprimosso-texto {
  display: flex;
  flex-direction: column;

  color: #fff;
}

.proposta {
  background-image: url("./img/borboleta.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5rem 0;
}
.proposta > * {
  padding-left: 10rem;
  width: 50vh;
  color: #fff;
}

.revitalizacao {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
  align-items: center;
  row-gap: 1rem;
}

.revitalizacao-top {
  display: grid;
  grid-template-columns: 40% 30%;
  justify-content: center;
  align-items: center;
}
.revitalizacao-top > img {
  width: 100%;
  height: auto;
}
.revitalizacao-text {
  display: flex;
  flex-direction: column;
  padding: 2rem 10rem;
  text-align: center;
}

.produtos {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.urnas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

.urnas-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 20rem;
}

.urna01 {
  background-image: url("./img/urna01.png");
}
.urna02 {
  background-image: url("./img/urna02.png");
}
.urna03 {
  background-image: url("./img/urna03.png");
}
.urna04 {
  background-image: url("./img/urna04.png");
}
.urna05 {
  background-image: url("./img/urna05.png");
}
.urna06 {
  background-image: url("./img/urna06.png");
}

.urnas-fotos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem;
}

.urnas-pict {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 20rem;
}

.fotos01 {
  background-image: url("./img/fotos\ \(1\).jpeg");
}
.fotos02 {
  background-image: url("./img/fotos\ \(2\).jpeg");
}
.fotos03 {
  background-image: url("./img/fotos\ \(3\).jpeg");
}
.fotos04 {
  background-image: url("./img/fotos\ \(4\).jpeg");
}
.fotos05 {
  background-image: url("./img/fotos\ \(5\).jpeg");
}
.fotos06 {
  background-image: url("./img/fotos\ \(6\).jpeg");
}
.fotos07 {
  background-image: url("./img/fotos\ \(7\).jpeg");
}
.fotos08 {
  background-image: url("./img/fotos\ \(8\).jpeg");
}
.fotos09 {
  background-image: url("./img/fotos\ \(9\).jpeg");
}
.fotos10 {
  background-image: url("./img/fotos\ \(10\).jpeg");
}
.fotos11 {
  background-image: url("./img/fotos\ \(11\).jpeg");
}
.fotos12 {
  background-image: url("./img/fotos\ \(12\).jpeg");
}
.fotos13 {
  background-image: url("./img/fotos\ \(13\).jpeg");
}
.fotos14 {
  background-image: url("./img/fotos\ \(14\).jpeg");
}
.fotos15 {
  background-image: url("./img/lab.jpeg");
}
.fotos16 {
  background-image: url("./img/projeto.jpeg");
}

.pdf {
  width: 100vh;
  height: 90vh;
  display: flex;
  justify-content: center;
}
.pdf > object {
  width: 100%;
}

.ppt {
  display: flex;
  width: 100%;
  height: 90vh;
}
.ppt > object {
  width: 100%;
  margin: 0;
  padding: 0;
}
footer {
  background-color: #f0e7cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
